<h1 class="text-primary">Words list</h1>
<div class="row">
  <div class="col-12">
    <p *ngIf="!words.length && !isFetchingWords">No words available!</p>
    <div class="text-center" *ngIf="isFetchingWords">
      <app-spinner>Loading words...</app-spinner>
    </div>
    <ul class="list-group d-flex justify-content-between">
      <li class="list-group-item col-md-3" *ngFor="let word of words">
          <div class="card-body">
            <h5 class="card-title">{{ word.foreignWord }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ word.nativeWord }}</h6>
            <p class="card-text">{{ word.comment }}</p>
            <p>{{ word.createDate | date }}</p>
            <button class="btn btn-primary mr-2">Edit</button>
            <button class="btn btn-danger" (click)="onDeleteWord(word.id)">Delete</button>
          </div>
      </li>
    </ul>
  </div>
</div>
