<h1 class="text-primary">Words list</h1>
<app-error-handler
  [isError]="isError"
  [errorMessage]="errorMessage"
  (errorStatusChange)="changeErrorStatus($event)"
></app-error-handler>
<div class="fixed-top alert alert-warning text-center" role="alert" *ngIf="deleteMessage">
  {{ deleteMessage }}
  <button type="button" class="btn btn-danger" (click)="stopDelete()">Stop deleting</button>
</div>
<div class="row">
  <div class="col-12">
    <p class="text-center" *ngIf="!words.length && !isFetchingWords">No words available!</p>
    <div class="text-center" *ngIf="isFetchingWords">
      <app-spinner>Loading words...</app-spinner>
    </div>
    <ul class="list-group d-flex justify-content-between">
      <li class="list-group-item" *ngFor="let word of words">
          <div class="card-body">
            <h5 class="card-title">{{ word.foreignWord }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ word.nativeWord }}</h6>
            <p class="card-text">{{ word.comment }}</p>
            <div class="mb-2" *ngIf="word.lists">
              <p class="card-text">On the lists:</p>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let list of word.lists">{{ list.name }}</li>
              </ul>
            </div>
            <p>{{ word.createDate | date }}</p>
            <button type="button" class="btn btn-primary mr-2">Edit</button>
            <button type="button" class="btn btn-danger" (click)="onDeleteWord(word.id)">Delete</button>
          </div>
      </li>
    </ul>
  </div>
</div>
