<h1 class="text-primary">Playground</h1>
<div class="row">
  <div class="col-12" *ngIf="!isError">
    <div class="d-flex flex-column justify-content-center mt-2" *ngIf="!isPlay">
      <div class="text-center" *ngIf="wordsLoading">
        <app-spinner>Loading words...</app-spinner>
      </div>
      <div  class="text-center" *ngIf="!wordsLoading">
        <button class="btn btn-primary" (click)="onPlay()">Play</button>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="isError">
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center mt-2 mb-2">
      <div *ngIf="currentWord && isPlay">
        <div *ngIf="isRightAnswer !== null" class="alert" [ngClass]="isRightAnswer ? 'alert-success' : 'alert-danger'" role="alert">
          {{ isRightAnswer ? 'You are right. ' : 'One more attempt' }}
        </div>
        <form [formGroup]="checkWordForm" class="form">
          <div class="form-group">
            <label for="foreignWord">Foreign word</label>
            <input class="form-control" type="text" [value]="currentWord.foreignWord" id="foreignWord" disabled>
          </div>
          <div class="form-group">
            <label for="nativeWord">Native word</label>
            <div class="d-flex justify-content-between">
              <input
                class="form-control"
                type="text"
                placeholder="Your answer"
                id="nativeWord"
                formControlName="answer"
              >
              <button
                class="btn btn-success"
                (click)="onCheck(checkWordForm.get('answer').value)"
              >Check</button>
            </div>
          </div>
        </form>
        <div class="card-body" *ngIf="isRightAnswer !== null">
          <h5 class="card-title">{{ currentWord.foreignWord }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ currentWord.nativeWord }}</h6>
          <p class="card-text">{{ currentWord.comment }}</p>
          <p>{{ currentWord.createDate | date }}</p>
        </div>
        <button class="btn btn-success" (click)="onPlay()">Next word</button>
      </div>
    </div>
  </div>
</div>
