.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__error-hint {
    margin-top: 0.1rem;
    font-size: 0.65rem;
    color: firebrick;
  }

  .ng-invalid.ng-touched {
    border: 1px solid firebrick;
    color: firebrick;

    &::placeholder {
      color: firebrick;
    }
  }
}
