<h1 class="text-primary">
  Add Word
</h1>
<form [formGroup]="addWordForm" class="form">
  <div class="form-group">
    <label for="foreignWord">Foreign word</label>
    <input class="form-control" type="text" id="foreignWord" placeholder="Foreign word" formControlName="foreignWord">
    <span class="form__error-hint" *ngIf="!addWordForm.get('foreignWord').valid && addWordForm.get('foreignWord').touched">The field "Foreign word" is required!</span>
  </div>
  <button
    class="btn btn-primary mb-2"
    type="button"
    (click)="onTranslateWord(addWordForm.get('foreignWord').value)"
    [disabled]="!this.addWordForm.get('foreignWord').valid || isTranslating"
  >
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isTranslating"></span>
    {{ isTranslating ? 'Translating...' : 'Translate word' }}
  </button>
  <div class="form-group">
    <label for="nativeWord">Native word</label>
    <input class="form-control" type="text" id="nativeWord" placeholder="Native word" formControlName="nativeWord">
    <span class="form__error-hint" *ngIf="!addWordForm.get('nativeWord').valid && addWordForm.get('nativeWord').touched">The field "Native word" is required!</span>
  </div>
  <div class="form-group">
    <label class="form__label" for="comment">Comment</label>
    <textarea class="form-control" rows="3" id="comment" placeholder="Comment" formControlName="comment"></textarea>
  </div>
  <button
    class="btn btn-primary mb-2"
    type="submit"
    [disabled]="addWordForm.invalid || isSending"
    (click)="onAddWord({
      foreignWord: addWordForm.get('foreignWord').value,
      nativeWord: addWordForm.get('nativeWord').value,
      comment: addWordForm.get('comment').value
    })"
  >
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isSending"></span>
    {{ isSending ? 'Sending...' : 'Add word' }}
  </button>
</form>
